@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@100;400;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

:root {
    --primary-background-color: #2F4858;
    --primary-text-color: #F1F1E6;
    --primary-surface-color: #7F7F7F;
    --secondary-background-color: #F9A826;
    --secondary-text-color: #FFEBCC;
    --secondary-surface-color: #F2E9E4;
}

/**
* Navbar
*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

header img {
    margin-top: 1.5rem;
    height: 4rem;
    width: 4rem;
}

nav a {
    margin-top: 2rem;
    margin: 0 2rem;
    color: var(--primary-text-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--secondary-text-color);
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--secondary-text-color);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1024px){
    header .nav-btn {
        margin-top: 2rem;
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--primary-background-color);
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive_nav {
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1.5rem;
    }

}

/**
* Timeline
*/

.timeline {
    background-color: var(--primary-background-color);
    color: rgb(70, 69, 69);
}

.timeline .title {
    font-size: 5em;
    text-align: center;
    color: var(--secondary-text-color);
}

.timeline .title h3 {
    padding-top: 0.25em;
}

.vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(188, 186, 186, 0.251), 0 0.4em 1.25em 0 rgba(175, 170, 170, 0.15) !important;
    padding: 2em 3em !important;
}

.timeline .date {
    color: var(--secondary-text-color);
}

#description {
    margin: 1.5em 0 2em 0;
}

@media only screen and (max-width: 1169px) {
    .vertical-timeline-element-date {
        display: block !important;
        float: none !important;
        color: rgb(44, 44, 44) !important;
        margin-top: 1.5em;
    }
}
