:root {
  --primary-background-color: #2F4858;
  --primary-text-color: white;
  --primary-surface-color: #7F7F7F;
  --secondary-background-color: #F9A826
  --secondary-text-color: black;
  --secondary-surface-color: #F2E9E4;
}

* {
  background-color: var(--primary-background-color);
}

.App-logo {

}